<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <!-- <li><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li> -->
            {% for page in site.pages %}
              {% if page.title %}
                  {% unless page.title contains "Events" or page.title contains "Error" %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endunless %}
              {% endif %}
            {% endfor %}
            <li><a href="{{ '/events'| prepend: site.baseurl }}" class="button special">Events</a></li>
        </ul>
    </nav>
</header>