<!DOCTYPE html>
<html>

  {% include head.html %}

	<body id="top">

        {% include header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>The Web and Coding Club</h2>
                <p> <a href="https://stab-iitb.org/wncc">IIT Bombay</a></p>
                <ul class="actions">
                    <li><a href="#content" class="button big special">Events</a></li>
                    <li><a href="#content" class="button big alt">Learn More</a></li>
                </ul>
            </div>
        </section>.
        <div id="content">
        {{ content }}
        {% include footer.html %}
        </div>
    </body>

</html>
