---
layout: default
---
<div class="wrapper style1">
    <article class="container">
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-meta">{% if page.mentor %} • {{ page.mentor }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <section class="post-content">
            {{ content }}
        </section>
        
        <footer>
            {% if page.previous %}
            <a href="{{ page.previous.url }}" class="float-left">&larr; Previous project</a> {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}" class="float-right">Next project &rarr;</a> {% endif %}
        </footer>

    </article>

</div>
