<!DOCTYPE html>
<html>

  {% include head.html %}

	<body id="top">

        {% include header.html %}

        <!-- Banner -->
        <section id="banner" style="background-image:url({{ page.banner }})">
            <div class="inner">
                <h2>Seasons Of Code</h2>
                <p> an initiative by <a href="https://stab-iitb.org/wncc">The Web and Coding Club, IIT Bombay</a></p>
                <ul class="actions">
                    <li><a href="#content" class="button big special">Participate</a></li>
                   
                </ul>
            </div>
        </section>
        <div id="content">
        {{ content }}
        </div>

        {% include footer.html %}
        
    </body>

</html>
